.spellListGrid.ui.grid {
    margin-top: 0.5rem;
}

.ui.checkbox .box, .ui.checkbox label {
    font-size: 16px;
}

.ui.dimmer {
    background-color: rgba(129, 129, 129, 0.822) !important;
}

#root, #root .dimmable {
    height: 100%;
}

.ui.selection.list .list>.item, .ui.selection.list>.item {
    color: rgb(0, 0, 0) !important;
}

.daily-spell-modal {
    margin: 20px;
}

.actions .message.negative {
    margin-bottom: 0px;
}