.spellListGrid.ui.grid {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ui.checkbox .box, .ui.checkbox label {
    font-size: 16px;
}

.ui.dimmer {
    background-color: rgba(129, 129, 129, 0.822) !important;
}

#root, #root .dimmable {
    height: 100%;
}

.ui.selection.list .list>.item, .ui.selection.list>.item {
    color: rgb(0, 0, 0) !important;
}

.daily-spell-modal {
    margin: 20px;
}

.actions .message.negative {
    margin-bottom: 0;
}

.ui.tab .ui.segment .column {
    padding-top: 0;
}

.list .item .dailySpellName {
    font-size: 16px;
}

.tabContent {
    margin-top: 10px;
}

.setSpellSlotMax {
    max-width: 50px;
    display: inline;
}

#help-tab {
    margin-left: auto;
    margin-right: 10px;
}

#login-tab {
    margin-right: 10px;
}

.login-container a {
    width: 100%;
}

.wizard-hat-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
}

#deleteImage {
    margin-top: 50px;
}

.enchant-message-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
}

.mobile-spell-check-icon {
    margin-left: 5px !important;
}

.mobileNav {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 1px solid black;
    box-shadow: none !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.popout {
    animation: popout 0.3s ease;
    -webkit-animation: popout 0.3s ease;
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.1)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.1)}
    to{-webkit-transform:scale(1)}
}

.spellSlotsTable .ui.input>input {
    padding: 0.3rem;
    font-size: 1rem;
}

@media only screen and (max-width: 767px) {
    .spellSlotsTable .ui.table {
        border-top: none;
    }
    .ui.stackable.buttons{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .ui.stackable.buttons > .button{
      width: 100%;
    }
    .ui.table:not(.unstackable) .spellSlotNumbers td:first-child {
        font-weight: normal;
    }
    .ui.stackable.grid.spellListGrid>.column:not(.row) {
        padding: 0rem 1rem!important;
    }
    .tabContent.dailySpells {
        margin-top: 0;
    }
    .enchant-message-container {
        width: 70%;
    }
  }